appdirs==1.4.3
asyncio==3.4.3
beautifulsoup4==4.9.0
bs4==0.0.1
cairocffi==1.1.0
CairoSVG==2.4.2
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cssselect2==0.3.0
defusedxml==0.6.0
html5lib==1.0.1
idna==2.9
imgkit==1.0.2
pdfkit==0.6.1
Pillow==7.1.2
pkg-resources==0.0.0
pycparser==2.20
pyee==7.0.1
Pyphen==0.9.5
pyppeteer==0.0.25
requests==2.23.0
selenium==3.141.0
six==1.14.0
soupsieve==2.0
tinycss2==1.0.2
tqdm==4.45.0
urllib3==1.26.5
WeasyPrint==51
webencodings==0.5.1
websockets==8.1
wkhtmltopdf==0.2
